.mpaCardContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 5px;
  border: 5px solid #71cfcf;

  background-color: rgb(243, 240, 236);
  .contestContainer {
    border: 1px solid #54618a;
    padding: 10px;
    background-color: rgba(199, 228, 245, 0.45);
    .buttonOffer {
      display: flex;
      flex-direction: column;
    }
    .contestInfo {
      width: 100%;
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
      gap: 5px;
      p:nth-child(1) {
        color: red;
        font-size: large;
      }
    }
    button {
      padding-bottom: 5px;
      padding: 10px 20px;
      background-color: white;
      color: #71cfcf;
      border: 2px solid #71cfcf;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      background-color: #71cfcf;
      color: white;
    }
    .offerContainer {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .offerInfo {
        display: flex;
        flex-direction: column;
        width: 250px;
        gap: 5px;
        text-align: left;
        border: 3px solid #2b8787;
        padding-left: 3px;
        border-radius: 4px;
        .imgWrapper {
          max-height: 300px;
          overflow-y: auto;
          img {
            background-size: cover;
            max-width: 200px;
            max-height: 250px;
          }
        }

        div {
          display: flex;
          flex-direction: column;
          padding: 4px;
          gap: 5px;
        }
				
      }
		
    }
		.VERIFIED{
			color: green;
			text-align: center;
			margin-top: 40px;
		}
  }
}
