.displayNone {
  display: none;
}

.formContainer {
  width: 100%;

  h1 {
    font-weight: bold;
    font-size: 2rem;
    background-color: #54618a;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
  }
  .formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 50px;
    height: 81vh;
    .tabContainer {
      display: flex;
      gap: 10px;
    }
    .cardWrapper {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
      width: 95%;
    }
  }
}
