/* Ваш style.module.scss або CSS файл */

.contestContainer {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.contestInfo {
  margin-bottom: 10px;
}

.offerContainer {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

.offerInfo {
  margin-bottom: 10px;
}
